---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/Article">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      {% if page.author %} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span>
      </span>
      {% endif %}
    </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {% if page.greekName %}
    <p>
      <i>{{ page.greekName }}</i>
    </p>
    {% endif %}
    <p>
      {{ page.explanation }}
    </p>
    <p>
      Pattern: {{ page.pattern }}
    </p>
    <p>
      {{ page.description }}
    </p>
    <p>
      Examples:
      <ul>
        {% for example in page.examples %}
        <li>
          {{ example }}</a>
        </li>
        {% endfor %}
      </ul>
    </p>
    <p>
      Links:
      <ul>
        {% for link in page.links %}
        <li>
          <a href="/{{ link.url }}">{{ link.description }}</a>
        </li>
        {% endfor %}
      </ul>
    </p>
    <p>
      References:
      <ul>
        {% for reference in page.references %}
        <li>
          <a href="{{ reference[1] }}" target="_blank">{{ reference[0] }}</a>
        </li>
        {% endfor %}
      </ul>
    </p>
  </div>
</article>
